@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@300&display=swap');

body{
  font-family: Ysabeau Office, sans-serif;
  font-weight: 300;
}

.heading{
  text-align: center;
  font-size: 2.5rem;
  padding: 20px;
}
.flex-parent-converting-area{
  display: flex;
  flex-direction: column;
}

.flex-child-converting-area { 
  flex:1;
  

}

.convert-area1 {
  background-color: #D6E8EE;
  
}

.convert-area2 {
  background-color: cadetblue;
  
  
}
.converting-A{
  text-align: center;
}
/* .flex-child-converting-area2{
  background-color: cadetblue;
  height: 500px;
  flex:1;
} */

#units{
  margin-left: 100px;
}

#number-box{ 
  margin-top: 100px; 
  margin-left: 100px;
   
}
