@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@300&display=swap");

body {
  font-family: "Ysabeau Office", sans-serif;
  /* font-weight: 300; */
  background-color: #e5e5ed;
  max-width: 2000px;
  font-size: 100%;
}

#welcome {
  width: 98vw;
  height: 95vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.welcome-title {
  background-color: white;
  height: 50%;
  width: 70%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.continue {
  background-color: #33539e;
  color: white;
  font-size: 2vw;
  cursor: pointer;
  padding: 2vw 5vw;
  margin: 2vw;
}

#app {
  display: none;
}

.heading {
  text-align: center;
  font-size: 2.5rem;
  padding: 0px;
  color: #33539e;
  font-size: 5vw;
}

input,
select {
  height: 25px;
  width: 25%;
}
select {
  width: fit-content;
}
.tile-container-flex-parent {
  max-width: 1900px;
  height: fit-content;
}
.convert-area-2 {
  background-color: #7facd6;
  max-width: 1900px;
}
.convert-area-1 {
  max-width: 1900px;
  background-color: #33539e;
}

#measuretype {
  text-align: center;
}

#units {
  margin-left: 100px;
}

.number-box {
  /*border: none;*/
  outline: none;
  /*border-bottom: 1px solid white;*/
  background: transparent;
  margin: 10px;
}

.convert-number {
  background: white;
  color: #33539e;
  border-style: none;
  border-color: whitesmoke;
  height: fit-content;
  text-shadow: none;
  font-family: "Ysabeau Office", sans-serif;
  font-size: 5vw;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px gray;
}
.convert-number:hover {
  cursor: pointer;
}

.conversion-1 {
  padding: 50px;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  background: transparent;
}

.tile-flex-child {
  color: #33539e;
}

.tile-flex-child:hover {
  cursor: pointer;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(127, 172, 214, 1) 100%
  );
}

.tile-flex-child-selected {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(127, 172, 214, 1) 100%
  );
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal-content > h1 {
  color: #33539e;
  font-size: 2vw;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.history-button {
  text-align: right;
  color: #33539e;
  height: 4vw;
  width: 4vw;
  background-color: white;
  font-size: 2vw;
  text-align: center;
  margin: 1% 0%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px lightgrey;
  border-color: lightgray;
}
.history-item {
  height: 6vw;
  background-color: white;
  padding: 1vw;
  font-size: 2vw;
  text-align: center;
  letter-spacing: 2px;
  margin: 1%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px lightgrey;
  border-color: lightgray;
  color: #33539e;
}

/* media qureies **/
@media only screen and (max-width: 393px) {
  .welcome-title {
    height: 80%;
    width: 100%;
  }

  .tile-container-flex-parent {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
  }

  .tile-flex-child {
    flex: 1;
    height: 8vw;
    background-color: white;
    padding: 10vw;
    font-size: 2vw;
    text-align: center;

    letter-spacing: 2px;
    margin: 4%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px lightgrey;
    border-color: lightgray;
  }

  .tile-parent1 {
    display: flex;
    flex-direction: row;
  }
  .tile-flex-child {
    flex: 1;
    width: 100%;
    text-align: center;
  }

  .flex-parent-converting-area {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .flex-child-converting-area {
    width: 100%;
    height: 20%;
    border-radius: 5px;
    /* position: absolute;*/
  }

  .conversion-A {
    margin: 10% 5%;
  }

  .conversion-A > input,
  .conversion-A > input:focus,
  .conversion-A > select {
    color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background: transparent;
    margin: 10px;
    font-size: 10vw;
    height: fit-content;
  }

  .conversion-B {
    margin: 10% 5%;
  }

  .conversion-A > input,
  .conversion-B > input {
    width: 60%;
  }

  .conversion-B > input,
  .conversion-B > select {
    color: #33539e;
    border: none;
    outline: none;
    border-bottom: 1px solid #33539e;
    background: transparent;
    margin: 10px;
    font-size: 10vw;
    height: fit-content;
  }

  .convert-area-1 {
    height: 25vh;
  }
  .convert-area-2 {
    height: 25vh;
  }
}

@media only screen and (min-width: 393px) {
  .welcome-title {
    height: 80%;
    width: 100%;
  }

  .flex-parent-converting-area {
    display: flex;
    flex-direction: column;
    height: 94vh;
  }

  .flex-child-converting-area {
    width: 100%;
    height: 20%;
    border-radius: 5px;
  }
  .conversion-A {
    margin: 5% 5%;
  }

  .conversion-A > input,
  .conversion-B > input {
    width: 60%;
  }

  .conversion-A > input,
  .conversion-A > input:focus,
  .conversion-A > select {
    color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background: transparent;
    margin: 10px;
    font-size: 10vw;
    height: fit-content;
  }

  .conversion-B {
    margin: 5% 5%;
  }

  .conversion-B > input,
  .conversion-B > select {
    color: #33539e;
    border: none;
    outline: none;
    border-bottom: 1px solid #33539e;
    background: transparent;
    margin: 10px;
    font-size: 10vw;
    height: fit-content;
  }

  .tile-container-flex-parent {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
  }

  .tile-parent1 {
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  .tile-flex-child {
    width: 100%;
    flex: 1;
    height: 8vw;
    background-color: white;
    padding: 10vw;
    font-size: 2vw;
    text-align: center;

    letter-spacing: 2px;
    margin: 4%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px lightgrey;
    border-color: lightgray;
  }

  .convert-area-1,
  .convert-area-2 {
    height: 35vh;
  }
}

@media only screen and (min-width: 600px) {
  .welcome-title {
    height: 50%;
    width: 70%;
  }

  .tile-container-flex-parent {
    flex-direction: row;
  }

  .tile-flex-child {
    padding: 1vw;
    font-size: 1.5vw;
  }

  .flex-parent-converting-area {
    display: flex;
    flex-direction: column;
    height: 80vh;
  }

  .convert-area-1,
  .convert-area-2 {
    height: 37vh;
  }

  .conversion-A > input,
  .conversion-B > input {
    width: 40%;
  }

  .conversion-A > input,
  .conversion-A > input:focus,
  .conversion-A > select {
    font-size: 5vw;
  }

  .conversion-B > input,
  .conversion-B > select {
    font-size: 5vw;
  }
}

@media only screen and (min-width: 900px) {
  .convert-area-1 {
    height: 37vh;
  }
  .convert-area-1 {
    height: 37vh;
  }
}
